<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<plugins>
		<plugin interceptor="com.orientpay.clivia.component.core.PaginationInterceptor">
			<property name="dialect" value="com.orientpay.oecs.framework.orm.dialect.OracleDialect" />
		</plugin>
	</plugins>
</configuration>  